<form class="" id="add-todo-form" action="#" method="post">
  <div class="form-group input-group">
    <input class="form-control" type="text" id="add-todo-text"  value="" placeholder="Add a Todo">
    <span class="input-group-btn">
      <input class="btn btn-default" type="button"  value="add">
    </span>
  </div>
</form>
